{# templates/main/index.html.twig #}
{% extends 'template.front.html.twig' %}


{# On surcharge le bloc parent  #}
{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block header %}

<h1 class="text-center mt-5">{{ title }}</h1>
    <p class="text-center mt-5 pt-1">{{ homepage_text }}</p>

{% endblock %}
{% block main %}
    {{ dump(posts) }}
{% endblock %}