{% extends 'template.back.html.twig' %}

{% block title %}{{ parent() }} | {{ title }}{% endblock %}

{% block header %}

    <h1 class="text-center mt-5">{{ title }}</h1>
    <p class="text-center mt-5 pt-1">{{ homepage_text }}</p>
{% endblock %}

 {% block main %}
     <p><a href="{{ path('app_admin_section_index') }}">Crud Section </a>
             Ajouter / modifier / supprimer une section
     </p>
{% endblock %}
